 <!-- Description Section -->
    <section class="success" id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Description</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                        <p>
                        SyncLists is a to-do list app available on Android. Many things in life are better when shared, and we believe that a to-do list is one of those things. SyncLists allows you to share your to-do lists with friends and family in real time, so that together you can accomplish something meaningful. When collaborating with SyncLists, you can spend less time coordinating and more time doing!
                        </p>
                </div>
            </div>
        </div>
    </section>
