
    <!-- Features Grid Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                {% for feature in site.feature %}
                    <div class="col-sm-12 col-lg-6">
                        <i class="fa {{ feature.icon }} fa-5x"></i>
                        <div>
                            {{ feature.desc }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
