 <!-- Team Section -->
    <section class="success" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center spacer">
                {% for member in site.team %}
                    <div class="col-lg-4 col-sm-12">
                        <img src="{{ member.img }}" alt="{{ member.name }}" class="img-circle img-thumbnail" height="200" width="200" />
                        <div>
                                <p>
                                    {{ member.name }}
                                </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
